* {
    box-sizing:border-box;
}
body {
    font-family:sans-serif;
}
h1 {
    text-align:center;
    margin :50px;
}
#p-div1, #p-div2, #p-div3 {
    text-align:center;
    clear:right;
}
#div-div1, #div-div2, #div-div3 {
    background-color: red;
    height : 15%;
    width : 25% ;
    float : right;
    border : black solid;
    border-width: 0px  0px  1px  2px ;
}
#text1, #text2, #text3 {
    font-size: 110% ;
    text-align : center;
}
@media ( min-width: 992px ) {
.div1, .div2, .div3 {
    float : left;
    background-color : gray;
    height: 25%;
    width: 31%;
    border : black solid;
    margin : 1% ;
}
}
@media ( min-width:768px ) and ( max-width : 991px ) {
    .div1, .div2 {
        float : left;
        background-color: gray;
        height : 25% ;
        width : 48% ;
        border : black solid;
        margin : 1% ;
    }
    .div3 {
        background-color : gray;
        height : 25% ;
        width : 98% ;
        border : black solid;
        margin : 1% ;
        clear: both;
    }
}
@media ( max-width : 767px ) {
    .div1 {
        background-color : gray;
        height : 25% ;
        width : 98% ;
        border : black solid;
        margin : 1% ;
        clear: both;
    }
    .div2 {
        background-color : gray;
        height : 25% ;
        width : 98% ;
        border : black solid;
        margin : 1% ;
        clear: both;
    }
    .div3 {
        background-color :gray;
        height : 25% ;
        width : 98% ;
        border : black solid;
        margin : 1% ;
        clear: both;
    }
}
