* {
    tamaño de caja: caja de borde;
}
cuerpo {
    familia de fuentes : sans-serif;
}
h1 {
    alineación de texto : centro;
    margen : 50 px ;
}
# p-div1 , # p-div2 , # p-div3 {
    alineación de texto : centro;
    claro : correcto;
}
# div-div1 , # div-div2 , # div-div3 {
    color de fondo : rojo;
    altura : 15 % ;
    ancho : 25 % ;
    flotar : derecha;
    borde : sólido negro;
    ancho del borde : 0 px  0 px  3 px  4 px ;
}
# texto1 , # texto2 , # texto3 {
    tamaño de fuente : 110 % ;
    alineación de texto : centro;
}
@media ( ancho mínimo : 992 px ) {
. div1 , . div2 , . div3 {
    flotar : izquierda;
    color de fondo : gris;
    altura : 25 % ;
    ancho : 31 % ;
    borde : sólido negro;
    margen : 1 % ;
}
}
@media ( ancho mínimo : 768 px ) y ( ancho máximo : 991 px ) {
    . div1 , . div2 {
        flotar : izquierda;
        color de fondo : gris;
        altura : 25 % ;
        ancho : 48 % ;
        borde : sólido negro;
        margen : 1 % ;
    }
    . div3 {
        color de fondo : gris;
        altura : 25 % ;
        ancho : 98 % ;
        borde : sólido negro;
        margen : 1 % ;
        claro : ambos;
    }
}
@media ( ancho máximo : 767 px ) {
    . div1 {
        color de fondo : gris;
        altura : 25 % ;
        ancho : 98 % ;
        borde : sólido negro;
        margen : 1 % ;
        claro : ambos;
    }
    . div2 {
        color de fondo : gris;
        altura : 25 % ;
        ancho : 98 % ;
        borde : sólido negro;
        margen : 1 % ;
        claro : ambos;
    }
    . div3 {
        color de fondo : gris;
        altura : 25 % ;
        ancho : 98 % ;
        borde : sólido negro;
        margen : 1 % ;
        claro : ambos;
    }
}
